<div class="movie-filter col ml-3">

  <button type="button" class="btn btn-sm btn-dark" (click)="toggleMovieFilters()">
    {{ movieFiltersVisible ? "Hide Filters" : "Show Filters" }}
  </button>

  <div class="filters-container" *ngIf="movieFiltersVisible">
    <h6>Filter by genre: </h6>
    <a routerLink="/movie-list" fragment="{{genre.toLowerCase()}}" (click)="movieFilterClick(genre, $event)" class="filter" [ngClass]="{'active': genre.toLowerCase()===location.path(true).slice(location.path(true).indexOf('#') + 1)}"
      *ngFor="let genre of genres">
      {{genre}}
      <span class="ghost">|</span>
    </a>

  </div>