@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';

$main-color: #343a40;

.fa {
  font-size: 20px;
}

.ghost {
  margin: 0 5px;
  color: $main-color;
}

.active {
  font-weight: bold;
}
